{% extends 'backoffice/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-md-2"></div>
<div class="col-md-8">
	<h3>{{ record }}</h3>
	<form method="post" action="">
	{% csrf_token %}
	{% language "de" %}
		<input class="btn btn-primary btn-block" type="submit", name="submit", value="{% trans "Yes, delete this entity" %}">
	{% endlanguage %}
	</form>
</div>
<div class="col-md-2"></div>
{% endblock %}
