{% extends 'backoffice/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block headline %} {% trans "Statistics" %}{% endblock %}

{% block content %}

{% if money %}
<div class="alert alert-info">
    {% blocktrans with money=money trimmed %}
    There is currently {{ money }} € in use as exchange money in cash desk sessions.
    {% endblocktrans %}
</div>
{% endif %}

<h3>{% trans "Products" %}</h3>

<ul>
    {% for product in products %}
    <li>
        {% blocktrans with redeemed=product.amount_redeemed sold=product.amount_sold name=product.name trimmed %}
        <strong>{{ name }}</strong> was sold {{ sold }} times and redeemed {{ redeemed }} times.
        {% endblocktrans %}

    </li>
    {% endfor %}
</ul>

    <h3>{% trans "Items" %}</h3>

    <ul>
        {% for item in items %}
            <li>
                {% blocktrans with redeemed=item.amount_redeemed sold=item.amount_sold name=item.name trimmed %}
                    <strong>{{ name }}</strong> was sold {{ sold }} times and redeemed {{ redeemed }} times.
                {% endblocktrans %}

            </li>
        {% endfor %}
    </ul>

    <h3>{% trans "Quotas" %}</h3>

    <ul>
        {% for quota in quotas %}
        <li>
            {% blocktrans with name=quota.name available=quota.amount_available size=quota.size trimmed %}
            <strong>{{ name }}</strong> is still available {{ available }} of {{ size }} times.
            {% endblocktrans %}

        </li>
        {% endfor %}
    </ul>

{% endblock %}
