{% extends 'backoffice/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{% static "shared/css/typeaheadjs.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "backoffice/css/sessionform.css" %}">
{% endblock %}


{% block headline %}
        <a href="{% url "backoffice:resupply-session" pk=session.pk %}">
            <span class="fa fa-plus" aria-hidden="true"></span>
        </a>
        <a href="{% url "backoffice:end-session" pk=session.pk %}">
            <span class="fa fa-power-off" aria-hidden="true"></span>
        </a>
        {% trans "Active session at" %} {{ session.cashdesk }}
{% endblock %}

{% block content %}
<h4> {{ session.cashdesk }}, {% trans "Session ID" %} {{ session.pk }}, {{ session.user.firstname }} {{ session.user.lastname }} ({{ session.user.username }})</h4>
<h4> {% trans "Start" %}: {{ session.start|timesince }} </h4>

<div class="alert alert-warning">{% trans "Please don't move an active session without talking to the user at the cashdesk." %}</div>

<div class="col-md-2"></div>
<div class="col-md-8">
	<form method="post" action="">
		{% csrf_token %}

        {% crispy form %}

		<div class="form-actions">
            <input type="submit" name="submit" value="{% trans "Move session" %}" class="btn btn-primary btn-block" id="submit-save">
		</div>
	</form>
</div>
<div class="col-md-2"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "backoffice/js/sessionform.js" %}"></script>
{% endblock %}
