{% extends 'backoffice/base.html' %}
{% load i18n %}

{% block content %}
    {% include "core/pagination.html" %}

<table class="table" id="active-sessions-table">
	<thead>
		<th></th>
        <th>{% trans "Cashdesk" %}</th>
        <th>{% trans "Angel" %}</th>
        <th>{% trans "Start" %}</th>
        <th>{% trans "End" %}</th>
        <th>{% trans "Sold products" %}</th>
	</thead>
	<tbody>
        {% language "de" %}
		{% for session in sessions %}
            <tr>
                <th class="session-action-column">
                    <a href="{% url "backoffice:session-detail" pk=session.pk %}" title="{% trans "Details" %}">
                        <span class="fa fa-2x fa-fw fa-eye" aria-hidden="true"></span>
                    </a>
                    <a href="{% url "backoffice:end-session" pk=session.pk %}" title="{% trans "Edit" %}">
                        <span class="fa fa-2x fa-fw fa-pencil" aria-hidden="true"></span>
                    </a>
                    <a href="{% url "backoffice:session-report" pk=session.pk %}" title="{% trans "Report" %}">
                        <span class="fa fa-2x fa-fw fa-print" aria-hidden="true"></span>
                    </a>
                </th>
                <th> {{ session.cashdesk }} </th>
                <th> {{ session.user }} </th>
                <th> {{ session.start }} </th>
                <th> {{ session.end }} </th>
                <th>
                    <ul>
                    {% for product in session.get_current_items %}
                        <li>{{ product.item }}: {{ product.transactions }}</li>
                    {% endfor %}
                    </ul>
                </th>

            </tr>
        {% empty %}
            <tr>
                <th colspan="42" class="empty-row active">
                    {% trans "No reports yet, get going!" %}
                </th>
            <tr>
		{% endfor %}
        {% endlanguage %}
	</tbody>
</table>

{% endblock %}
