{% extends 'backoffice/base.html' %}
{% load i18n %}
{% load static %}


{% block headline %}
    {% if not session.end %}
        <a href="{% url "backoffice:resupply-session" pk=session.pk %}">
            <span class="fa fa-plus" aria-hidden="true"></span>
        </a>
        <a href="{% url "backoffice:move-session" pk=session.pk %}">
            <span class="fa fa-share" aria-hidden="true"></span>
        </a>
        <a href="{% url "backoffice:end-session" pk=session.pk %}">
            <span class="fa fa-power-off" aria-hidden="true"></span>
        </a>
        {% trans "Active session at" %} {{ session.cashdesk }}
    {% else %}
        {% trans "Ended session" %} #{{ session.pk }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if not session.end %}
        <div id="qrcode"></div>
        <script type="text/json" id="qrcodedata">
        {
            "url": "{{ url }}",
            "key": "{{ session.api_token }}"
        }
        </script>
    {% endif %}

    <h4> {{ session.cashdesk }}, {% trans "Session ID" %} {{ session.pk }}, {{ session.user.firstname }} {{ session.user.lastname }}
        ({{ session.user.username }})</h4>
    {% language "de" %}
        {% if session.end %}
            <h4> {% trans "Start" %}: {{ session.start }} </h4>
            <h4> {% trans "End" %}: {{ session.ende }} </h4>
        {% else %}
            <h4> {% trans "Start" %}: {{ session.start|timesince }} </h4>
        {% endif %}


        <h3 style="clear:both"> {% trans "Sold products" %} </h3>
        <table class="table" id="session-detail-table">
            <thead>
            <th></th>
            <th>{% trans "Sales" %}</th>
            <th>{% trans "Presale" %}</th>
            <th>{% trans "Reversals" %}</th>
            </thead>
            <tbody>
            {% for product in session.get_product_sales %}
                <tr>
                    <th>{{ product.product.name }}</th>
                    <th>{{ product.sales }}</th>
                    <th>{{ product.presales }}</th>
                    <th>{{ product.reversals }}</th>
                </tr>
            {% empty %}
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3> {% trans "Items" %} </h3>
        <table class="table" id="session-detail-table">
            <thead>
            <th></th>
            <th>{% trans "Initial" %}</th>
            <th>{% trans "Sales" %}</th>
            <th>{% if session.end %}{% trans "Final" %}{% else %}{% trans "Currently remaining" %}{% endif %}</th>
            </thead>
            <tbody>
            <tr>
                <td> {% trans "Cash" %} </td>
                <td> {{ session.cash_before }} </td>
                <td> {{ session.get_cash_transaction_total }} </td>
                <td> {% if session.end %}{{ session.cash_after }}{% else %}{{ session.cash_remaining }}{% endif %} </td>
            </tr>
            {% for item in session.get_current_items %}
                <tr>
                    <td> {{ item.item.name }} </td>
                    <td> {{ item.movements }} </td>
                    <td> {{ item.transactions }} </td>
                    <td> {% if session.end %}{{ item.final_movements }}{% else %}{{ item.total }}{% endif %} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3> {% trans "Item movement log" %} </h3>
        <table class="table" id="session-detail-table">
            <thead>
            <th>{% trans "Time" %}</th>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Amount added" %}</th>
            <th>{% trans "User" %}</th>
            </thead>
            <tbody>
            {% for move in session.item_movements.all %}
                <tr>
                    <td> {{ move.timestamp|date:"SHORT_DATETIME_FORMAT" }} </td>
                    <td> {{ move.item }} </td>
                    <td> {{ move.amount }} </td>
                    <td> {{ move.backoffice_user }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3> {% trans "Cash movement log" %} </h3>
        <table class="table" id="session-detail-table">
            <thead>
            <th>{% trans "Time" %}</th>
            <th>{% trans "Amount added" %}</th>
            <th>{% trans "User" %}</th>
            </thead>
            <tbody>
            {% for move in session.cash_movements.all %}
                <tr>
                    <td> {{ move.timestamp|date:"SHORT_DATETIME_FORMAT" }} </td>
                    <td> {{ move.cash }} </td>
                    <td> {{ move.backoffice_user }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        {% comment %}
    {% if not session.end %}
        <h3>Komplette Session stornieren</h3>
        <div class="alert alert-warning">
            <a href="{% url "backoffice:reverse-session" pk=session.pk %}" class="btn btn-danger pull-right">Stornieren</a>
            Mit diesem Button ist es möglich, <strong>alle Transaktionen</strong> innerhalb dieser
            Session zu stornieren. Dies funktioniert nur, solange in der Session noch keine anderen
            Stornierungen getätigt wurden.
            <div style="clear: both"></div>
        </div>
    {% endif %}
    {% endcomment %}
    {% endlanguage %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static "shared/js/qrcode.min.js" %}"></script>
    <script type="text/javascript" src="{% static "backoffice/js/session_detail.js" %}"></script>
{% endblock %}
