{% load staticfiles %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>postix</title>
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "shared/css/typeaheadjs.css" %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static "shared/fontawesome/scss/font-awesome.scss" %}">
        <link rel="stylesheet" type="text/css" href="{% static "shared/fonts/fonts.css" %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static "desk/scss/postix.scss" %}">
    {% endcompress %}
    <link rel="shortcut icon" href="{% static "shared/img/favicon.png" %}">
</head>
<body class="error">
<div class="error-page">
<span class="fa fa-power-off">
</span>

    <h2>{{ message }}</h2>
    {% if detail %}
        <p>{{ detail }}</p>
    {% endif %}
    {% if offer_logout %}
        <p><a href="{% url "desk:logout" %}" class="btn btn-default btn-lg">{% trans "Log out" %}</a></p>
    {% endif %}
</div>
<script type="text/javascript" src="{% static "shared/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "desk/js/login.js" %}"></script>
</body>
</html>
