@import "../../shared/scss/_variables";
$icon-font-path: "/static/postix/shared/fonts/";
@import "../../shared/scss/_bootstrap";
@import "../../shared/scss/bootstrap/_theme";
@import "../../shared/fontawesome/scss/font-awesome";

.navbar-inverse, .navbar-inverse .navbar-collapse {
    background: $brand-inverse;
}

body {
    font-family: 'opensans', 'Open Sans', Frutiger, 'Frutiger Linotype', 'Segoe UI', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}
.navbar-brand img {
    height: 24px;
    position: relative;
    top: -3px;
    display: inline;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white;
}

/* Until crispy-forms master has merged PR #545, we need to correct this here. */
tbody th {
    font-weight: normal;
}
#active-sessions-table .empty-row {
    text-align: center;
}
#active-sessions-table .session-action-column .glyphicon {
    margin-left: 1.2rem;
    font-size: 1.8rem;
}
.session-action-column a:hover {
    text-decoration: none;
}
.glyphicon-print {
    color: #a22;
}
.glyphicon-pencil {
    color: #2a2;
}
.glyphicon-plus {
    color: #2a2;
}
.glyphicon-off {
    color: #a22;
}
.backoffice-content .glyphicon-log-out {
    color: #777;
}
#end-sessions-table .control-label {
    display: none;
}
.pseudo-column {
    width: 20%;
    display: inline-block;
}
.pseudo-column button {
    width: 100%;
    margin-bottom: 0.5em;
}
#qrcode {
    float: right;
    width: 256px;
}
table .fa {
    margin-right: 2px;
}
table ul {
    margin-left: 15px;
    padding: 0;
}
