{% load staticfiles %}
{% load solo_tags %}
{% load i18n %}
{% load compress %}
{% get_solo 'core.EventSettings' as settings %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>postix {% block title %}{% endblock %}</title>

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "shared/fonts/fonts.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "shared/css/core.css" %}">
    {% endcompress %}
    {% block area_stylesheets %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static "shared/img/favicon.png" %}">

</head>
<body><div id="wrapper">
    <nav class="navbar navbar-inverse navbar-static-top">
        <a class="navbar-brand" href="{% block area_url %}{% endblock %}">
            <img src="{% static "shared/img/icon_white.svg" %}">
            {% block area %}{% endblock %}
        </a>
        <div id="navbar" class="">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_superuser %}
                    {% if not settings.initialized %}
                        <li><a href="{% url "backoffice:wizard-settings" %}"><span class="text-danger fa fa-bell"></span></a></li>
                    {% endif %}
                {% endif %}
                {% if not request.user.is_anonymous %}
                    <li>
                        <a href="{% if request.user.is_backoffice_user or request.user.is_superuser %}{% url "backoffice:logout" %}{% else %}{% url "troubleshooter:logout" %}{% endif %}">
                            <span class="fa fa-sign-out"></span> {{ user }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        {% if not user.is_anonymous %}
        <nav class="nav flex-column sidebar">
            {% if user.is_backoffice_user or user.is_superuser %}
                <span class="nav-link">
                    <span class="fa fa-fw fa-handshake-o"></span>
                    {% trans "Sessions" %}
                </span>
                    <a class="nav-link subnav" href="{% url "backoffice:new-session" %}">
                        <span class="fa fa-fw fa-plus-circle"></span>
                        {% trans "New session" %}
                    </a>
                    <a class="nav-link subnav" href="{% url "backoffice:session-list" %}">
                        <span class="fa fa-fw fa-list"></span>
                        {% trans "List of sessions" %}
                    </a>
                    <a class="nav-link subnav" href="{% url "backoffice:report-list" %}">
                        <span class="fa fa-fw fa-book"></span>
                        {% trans "Reports" %}
                    </a>
                <span class="nav-link">
                    <span class="fa fa-fw fa-handshake-o"></span>
                    {% trans "Records" %}
                </span>
                    <a class="nav-link subnav" href="{% url "backoffice:new-record" %}">
                        <span class="fa fa-fw fa-plus-circle"></span>
                        {% trans "New record" %}
                    </a>
                    <a class="nav-link subnav" href="{% url "backoffice:record-list" %}">
                        <span class="fa fa-fw fa-list"></span>
                        {% trans "List of records" %}
                    </a>
                <span class="nav-link">
                    <span class="fa fa-fw fa-users"></span>
                    {% trans "Users" %}
                </span>
                    <a class="nav-link subnav" href="{% url "backoffice:create-user" %}">
                        <span class="fa fa-fw fa-plus-circle"></span>
                        {% trans "New user" %}
                    </a>
                    <a class="nav-link subnav" href="{% url "backoffice:user-list" %}">
                        <span class="fa fa-fw fa-list"></span>
                        {% trans "User list" %}
                    </a>
            {% endif %}
            {% if user.is_troubleshooter or user.is_superuser %}
                {% if user.is_superuser or user.is_backoffice_user %}
                    <span class="nav-link">
                        <span class="fa fa-fw fa-user-secret"></span>
                        {% trans "Troubleshooting" %}
                    </span>
                {% endif %}
                <a href="{% url "troubleshooter:main" %} "id="nav-sessions" class="nav-link subnav{% if has_request %} has-request{% endif %}">
                    <span class="fa fa-fw fa-user"></span>
                    {% trans "Current sessions" %}
                </a>
                <a class="nav-link subnav" href="{% url "troubleshooter:transaction-list" %}">
                    <span class="fa fa-fw fa-book"></span>
                    {% trans "Transactions" %}
                </a>
                <a class="nav-link subnav" href="{% url "troubleshooter:constraint-list" %}">
                    <span class="fa fa-fw fa-list"></span>
                    {% trans "Lists" %}
                </a>
                <a class="nav-link subnav" href="{% url "troubleshooter:preorder-list" %}">
                    <span class="fa fa-fw fa-shopping-cart"></span>
                    {% trans "Preorder" %}
                </a>
                <a class="nav-link subnav" href="{% url "troubleshooter:preorder-information-list" %}">
                    <span class="fa fa-fw fa-shopping-cart"></span>
                    {% trans "Preorder Specials" %}
                </a>
                <a class="nav-link subnav" href="{% url "troubleshooter:ping" %}">
                    <span class="fa fa-fw fa-terminal"></span>
                    {% trans "Ping" %}
                </a>
                <a class="nav-link subnav" href="{% url "troubleshooter:information-list" %}">
                    <span class="fa fa-fw fa-print"></span>
                    {% trans "Print" %}
                </a>
            {% endif %}
            {% if user.is_superuser %}
                <span class="nav-link" href="{% url "backoffice:wizard-settings" %}">
                    <span class="fa fa-fw fa-cog"></span>
                    {% trans "Settings" %}
                </span>
                <a class="nav-link subnav" href="{% url "backoffice:wizard-settings" %}">
                    <span class="fa fa-fw fa-cogs"></span>
                    {% trans "General Settings" %}
                </a>
                <a class="nav-link subnav" href="{% url "backoffice:wizard-users" %}">
                    <span class="fa fa-fw fa-users"></span>
                    {% trans "User Permissions" %}
                </a>
                <a class="nav-link subnav" href="{% url "backoffice:wizard-cashdesks" %}">
                    <span class="fa fa-fw fa-plus-circle"></span>
                    {% trans "New Cashdesks" %}
                </a>
                <a class="nav-link subnav" href="{% url "backoffice:wizard-import" %}">
                    <span class="fa fa-fw fa-download"></span>
                    {% trans "Import Presale Data" %}
                </a>
                <a class="nav-link subnav" href="{% url "backoffice:wizard-items-list" %}">
                    <span class="fa fa-fw fa-list"></span>
                    {% trans "Item List" %}
                </a>
                <a class="nav-link subnav" href="{% url "backoffice:wizard-items-create" %}">
                    <span class="fa fa-fw fa-plus-circle"></span>
                    {% trans "Add an Item" %}
                </a>
                <a class="nav-link subnav" href="{% url "backoffice:record-entity-list" %}">
                    <span class="fa fa-fw fa-list"></span>
                    {% trans "Record Entities" %}
                </a>
            {% endif %}
        </nav>
        {% endif %}

    <div class="container" id="page-content">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block area_content %}
        {% endblock %}

    <script type="text/javascript" src="{% static "shared/js/jquery.min.js" %}"></script>
    {% block area_scripts %}
    {% endblock %}

</div></body>
</html>
