{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>postix</title>
    <link rel="stylesheet" type="text/css" href="{% static "shared/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "shared/css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "shared/fonts/fonts.css" %}">
</head>
<body class="error">
<div class="error-page">
<span class="fa fa-eye-slash"></span>

    <h2>{{ message }}</h2>
    {% if detail %}
        <p>{{ detail }}</p>
    {% endif %}
    {% if offer_logout %}
    <p><a href="{% url "backoffice:logout" %}" class="btn btn-default btn-lg">{% trans "Log out" %}</a></p>
    {% endif %}
</div>
<script type="text/javascript" src="{% static "shared/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "troubleshooter/js/login.js" %}"></script>
</body>
</html>
