{% extends 'troubleshooter/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block headline %}{% trans "Printable Information" %}{% endblock %}
{% block content %}

<div>
    <ul>
        {% for info in information %}
            <li>
                <a href="{% url "troubleshooter:information-detail" pk=info.pk %}">
                    <b>{{ info.name }}</b>: {{ info.content|truncatewords:10 }}</b>
                </a>
            </li>
        {% empty %}
            {% trans "No snippets found." %}
        {% endfor %}
    </ul>
</div>

    {% include "core/pagination.html" %}
{% endblock %}
