{% extends 'troubleshooter/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block headline %}{% trans "Current sessions" %}{% endblock %}
{% block meta %}
    <meta http-equiv="refresh" content="5">
{% endblock %}
{% block content %}
    <div class="">
        <div class="panel">
            <ul class="list-group">
                {% for sess in sessions %}
                {% with sess.has_open_requests as requests %}
                    <li class="list-group-item open-cashdesk {% if requests %} has-request list-group-item-warning{% endif %}">
                        <h3>
                            <a href="{% url "troubleshooter:transaction-list" %}?desk={{ sess.cashdesk.pk }}">
                                {{ sess.cashdesk }}</a>
                            <small>{% trans "User" %}: {{ sess.user }}</small>
                        </h3>

                        {% if requests %}
                            <span class="badge">
                                <span class="fa fa-exclamation-circle"></span>
                                {% trans "Resupply" %}<br />
                                <form action="{% url "troubleshooter:confirm-resupply" pk=sess.pk %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-xs btn-success" type="submit" style="margin-top: 5px;"href="{% url "troubleshooter:confirm-resupply" pk=sess.pk %}" method="post">
                                        <span class="fa fa-check-circle"></span>
                                    </button>
                                </form>
                            </span>
                        {% endif %}
                        <dl class="dl-horizontal">
                            <dt>{% trans "Session time" %}</dt>
                            <dd>{{ sess.start|timesince }} </dd>
                            {% for i in sess.current_items %}
                                <dt>{{ i.item }}</dt>
                                <dd>{{ i.total }}</dd>
                            {% endfor %}
                        </dl>
                    </li>
                {% endwith %}
                {% empty %}
                    {% trans "This is it: the calm before (or after?) the storm. Hold tight, shifts will appear here shortly." %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
