{% extends 'troubleshooter/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block headline %}{% trans "Preorders" %}{% endblock %}
{% block content %}

    <div class="transaction-filter-header row">
        <form class="form" action="" method="get">
            <div class="col-md-9">
                <input class="form-control" name="code" placeholder="{% trans "Order code" %}"
                        value="{{ request.GET.code }}">
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary btn-block" type="submit">{% trans "Filter" %}</button>
            </div>
        </form>
    </div>
    <div class="transaction-list table-responsive">
        {% if not preorders %}
            {% trans "No matching orders found." %}
        {% else %}
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th> {% trans "Order code" %} </th>
                    <th> {% trans "Paid" %} </th>
                </tr>
                </thead>
                <tbody>
                {% for p in preorders %}
                    <tr>
                    <td class="session-action-column">
                        <a href="{% url "troubleshooter:preorder-detail" pk=p.pk %}" title="{% trans "Details" %}">
                            {{ p.order_code }}
                        </a>
                    </td>
                    <td>
                        {% if p.is_paid %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}
                    </td>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    {% include "core/pagination.html" %}
{% endblock content %}
