{% extends 'troubleshooter/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block headline %}{% trans "Transaction" %} #{{ transaction.pk }} ({{ transaction.session.cashdesk }}){% endblock %}

{% block content %}
<div>
    <h3>{{ transaction.session.user }}, {{ transaction.datetime|date:"Y-m-d H:i" }}</h3>
</div>
{% if transaction.receipt_id %}
<p>{% trans "Receipt ID" %}: {{ transaction.receipt_id }}</p>
{% endif %}

{% if transaction.receipt_id %}
    <div class="row">
        <form class="form form-inline col-md-9" method="post" action="{% url "troubleshooter:transaction-reprint" pk=transaction.pk %}">
            {% csrf_token %}
            <select name="session" class="form-control">
                {% for session in sessions %}
                    <option value="{{ session.pk }}">
                    {{ session.user }} {% trans "at" %} {{ session.cashdesk }}
                    </option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">{% trans "Print receipt" %}</button>
        </form>
        <form class="form form-inline col-md-3" method="post" action="{% url "troubleshooter:transaction-invoice" pk=transaction.pk %}">
            {% csrf_token %}
            <div class="input group">
            <button class="btn btn-default btn-block" type="submit">{% trans "Print invoice" %}</button>
            </div>
        </form>
    </div>
{% endif %}
<p></p>
<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <tbody>
            {% for position in transaction.positions.all %}
                <tr>
                    <td>
                        {% if position.was_reversed %}
                            <a href="{% url "troubleshooter:transaction-detail" pk=position.reversed_by.all.0.transaction.pk %}">
                                <span class="text-danger">[{% trans "canceled" %}]</span>
                            </a>
                        {% else %}
                            {% if position.type == 'reverse' %}
                                <a href="{% url "troubleshooter:transaction-detail" pk=position.reverses.transaction.pk %}">
                                    <span class="text-danger">{% trans "cancelation" %}</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td> {{ position.product }} </td>
                    <td> {{ position.value }} </td>
				</tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
