{% extends 'troubleshooter/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load urlreplace %}

{% block headline %}{% trans "Transactions" %}{% endblock %}
{% block content %}
<div class="transaction-filter-header row">
    <form class="form" action="" method="get">
        <div class="col-md-3">
            <select name="desk" class="form-control">
                <option value=""></option>
                {% for cashdesk in cashdesks %}
                    <option value="{{ cashdesk.pk }}" {% if request.GET.desk|add:0 == cashdesk.id %}selected="selected"{% endif %}>
                        {{ cashdesk.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <select name="type" class="form-control">
                <option value=""></option>
                {% for type in types %}
                    <option value="{{ type }}" {% if request.GET.type == type %}selected="selected"{% endif %}>
                        {{ type }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="receipt" placeholder="{% trans "Receipt ID" %}"
                    value="{{ request.GET.receipt }}">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" type="submit">{% trans "Filter" %}</button>
        </div>
    </form>
</div>

<div class="transaction-list table-responsive">
    {% if not transactions %}
        {% trans "No matching transactions found." %}
    {% else %}
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th> {% trans "Cashdesk" %} </th>
                    <th> {% trans "Type" %} </th>
                    <th> {% trans "Amount" %} </th>
                    <th> {% trans "Transaction amount" %} </th>
                    <th> {% trans "Receipt ID" %} </th>
                </tr>
            </thead>
            <tbody>
                {% for transaction_position in transactions %}
                    <tr>
                        <td class="session-action-column">
                            <a href="{% url "troubleshooter:transaction-detail" pk=transaction_position.transaction.pk %}" title="{% trans "Details" %}">
                                <span class="fa fa-eye" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td>
                            <a href="{{ request.path }}?desk={{ transaction_position.transaction.session.cashdesk.pk }}">
                                {{ transaction_position.transaction.session.cashdesk }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ request.path }}?type={{ transaction_position.type }}">
                                {% if transaction_position.type == 'sell' %}
                                    <span class="text-primary">{% trans "Sale" %}</span>
                                {% elif transaction_position.type == 'redeem' %}
                                    <span class="text-muted">{% trans "Presale" %}</span>
                                {% elif transaction_position.type == 'reverse' %}
                                <span class="text-danger">{% trans "Cancelation" %}</span>
                                {% endif %}
                            </a>
                        </td>
                        <td> {{ transaction_position.value }} </td>
                        <td> {{ transaction_position.transaction.value }} </td>
                        <td> {% if transaction_position.transaction.receipt_id %}{{ transaction_position.transaction.receipt_id }} {% endif %}</td>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% include "core/pagination.html" %}
{% endblock content %}
