@import "../../shared/scss/_variables";
$icon-font-path: "/static/postix/shared/fonts/";
@import "../../shared/scss/_bootstrap";
@import "../../shared/scss/bootstrap/_theme";

body {
    font-family: 'opensans', 'Open Sans', Frutiger, 'Frutiger Linotype', 'Segoe UI', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
body.login, body.error {
    background: #eee;
}

.panel-login {
    width: 400px;
    margin: 20px auto 0 auto;
}

.error-page {
    width: 400px;
    margin: 60px auto 0 auto;
    text-align: center;
}
.error-page h2 {
    font-size: 40px;
}
.error-page .glyphicon {
    font-size: 200px;
}

#main-container {
    display: flex;
    height: 100vh;
}
#left-side {
    flex: 1;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
}
#product-view {
    flex: 1;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 0 0 10px;
    overflow: hidden;
    position: relative;
}
#product-view-inner {
    position: absolute;
    top: 0;
	width: 100%;
	padding-right: 10px;
}
#product-view .product {
    width: 33.333%;
    margin: 10px 0 0 0;
    float: left;
    height: 97px;  /* Same height as the "Redeem preordered ticket" box */
    padding: 0 5px;
}
#product-view .product:nth-child(3n+1) {
    padding-left: 0;
}
#product-view .product:nth-child(3n) {
    padding-right: 0;
}
#product-view .product button {
    height: 100%;
    font-size: 18px;
    white-space: normal;
    word-wrap: break-word;
}
#button-row {
    display: flex;
    flex-flow: row;
    height: 110px;
    padding: 10px 0px 20px 10px;
}
#button-row a, #button-row button {
    flex: 1;
    float: left;
    margin-right: 10px;
    width: 33%;
    height: 100%;
}
#button-row a button, #button-row button {
    height: 100%;
    width: 100%;
    padding: 0 5px;
    font-size: 18px;
    white-space: normal;
    word-wrap: break-word;
}
#button-row a.btn {
    line-height: 34px;
}
#button-row button:last-child {
    margin-right: 0;
}
#right-side {
    flex: initial;
    width: 33%;
    min-width: 25%;
    display: flex;
    flex-flow: column;
}
#redeem-presale {
    padding: 10px;
}
#redeem-presale .panel {
    margin: 0;
}
#lower-right {
    padding: 0 10px 10px;
    flex: 1;
    display: flex;
    flex-flow: column;
}
#lower-right .panel {
    flex-flow: column;
    flex: 1;
    display: flex;
    margin: 0;
}
#lower-right .panel-body {
    flex: 1;
    display: flex;
    flex-flow: column;
}

#cart {
    flex: 1;
    overflow: hidden;
    position: relative;
    /* TODO: Some kind of touchscreen-friendly scrolling. Also, this currently still destroys the design */
}
#cart-empty {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    opacity: 0.4;
    font-size: 24px;
}
#clock {
    font-size: 42px;
}
#cart-inner {
    position: absolute;
    width: 100%;
}
#cart .cart-line {
    display: flex;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
}
#cart .cart-line:first-child {
    padding-top: 0;
}
#cart .cart-line .cart-product {
    flex: 1;
    padding-top: 10px;
    line-height: 20px;
}
#cart .cart-line .cart-product small {
    line-height: 16px;
    font-size: 14px;
}
#cart .cart-line .cart-price {
    width: 100px;
    text-align: right;
    margin-right: 10px;
    padding: 0 3px;
    line-height: 40px;
}
#cart .cart-line .cart-delete {
    line-height: 40px;
    margin-top: -5px;
}
#cart .cart-line .cart-product {
    flex: 2;
}
.total {
    display: block;
    font-size: 20px;
    text-align: right;
    margin: 5px 0;
}
.total span {
    display: inline-block;
    text-align: right;
    width: 150px;
    font-size: 35px;
}
#post-sale-given {
    line-height: 34px;
}
.total input {
    display: inline-block;
    text-align: right;
    width: 120px;
    margin-left: 40px;
    font-size: 20px;
}
#btn-checkout {
    height: 80px;
    font-size: 40px;
    font-weight: bold;
}
#btn-supply {
    font-weight: bold;
}
#btn-clear {
    font-size: 20px;
}
.panel-body {
    padding: 10px;
}
.panel-heading {
    padding: 10px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
}
body.has-modal #main-container {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}
#modal-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    box-sizing: border-box;
    flex-direction: column;
}
.has-modal #modal-container {
    display: flex;
}
#modal .panel {
    margin: 0;
    width: 760px;
    font-size: 22px;
}
#modal-buttons {
    display: flex;
}
#modal-buttons button {
    flex: 1;
    margin-right: 10px;
    margin-top: 20px;
    height: 64px;
    font-size: 22px;
}
#modal-buttons button:last-child {
    margin-right: 0px;
}
.modal-input {
    flex-grow: 1;
}
.modal-input .panel {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.modal-input .panel-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#modal-text, #modal-buttons {
    flex: 0 0;
}
#modal-input-wrapper {
    flex: 1 1;
}
.panel-sale .panel-heading {
    line-height: 40px;
}
.info-completed {
    display: none;
    height: 0;
}
#post-sale {
    display: none;
}
.post-sale #post-sale {
    display: block;
}
.post-sale .info-completed {
    display: block;
    height: 52px;
    transition: height 1s;
}
.post-sale .panel {
    border-color: #3e8f3e !important;
}
.post-sale .panel-body {
    background: #3e8f3e !important;
    color: #ffffff;
}
.post-sale .panel>.panel-heading {
    color: #ffffff;
    background: #3e8f3e !important;
    border-color: #3e8f3e !important;
}

.post-sale .btn-delete {
    display: none;
}
.post-sale #checkout {
    display: none;
}
#post-sale-buttons {
    height: 80px;
    display: flex;
}
#post-sale-buttons button {
    margin-top: 0;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
}
#post-sale-buttons button:last-child {
    margin-right: 0;
}
#btn-reverse {
    color: #b92c28;
}
#post-sale-reversed {
    display: none;
    height: 89px;
    line-height: 89px;
    font-weight: bold;
    color: #b92c28;
    text-align: center;
    font-size: 40px;
}
.reversed #btn-reverse {
    opacity: .65;
    pointer-events: none;
    -webkit-pointer-events: none;
    background-image: none;
}
.reversed #post-sale-reversed {
    display: block;
}
.reversed #post-sale-change, .reversed #post-sale-given {
    display: none;
}
#loading {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loading.visible {
    display: flex;
}
#loading div {
    text-align: center;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.7);
}
.upfade, .downfade {
    width:100%;
    position:absolute;
    left:0;
    height:0;
    -webkit-pointer-events: none;
    pointer-events: none;
}
.upfade {
    top:0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,0)));
}
.downfade {
    bottom:0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.9)));
}

#success-flash {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 100000;
    margin-top: -35px;
    display: none;
}
#success-flash div {
    margin-left: 10px;
    background: #3e8f3e;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
}

#info-view {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100000;
    display: none;
}
#info-view > div {
    margin-left: 10px;
    background: #cccccc;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}
#info-view dd {
    text-align: left;
}

.login .logo {
    margin: auto;
    text-align: center;
}
.login .logo img {
    max-height: 100px;
    width: auto;
    margin: 60px auto 0 auto;
}
